<div *ngIf="!isMobile; else mobile">
    <div class="two-column-container">
        <div class="list">
          <div *ngFor="let data of listOfSpeech" class="list-item" [class.selected-item]="selectedData?.title === data.title" (click)="selectTitle(data)">
            {{ data.title }}
          </div>
        </div>
        <div *ngIf="selectedData?.title" class="right">
            <div class="speech-column">
                <textarea class="speech" [(ngModel)]="selectedData.speech"></textarea>
            </div>
            <div class="list-details">
                <div class="author">{{ selectedData.author }}</div>
                <div>
                    <ng-container *ngFor="let item of keywordsList">
                        <span *ngIf="item.keywords !== ''" class="list-keywords">{{ item.keywords }}</span>
                    </ng-container>
                </div>
                <div class="date">{{ selectedData.date | date: 'MMMM d, y' }}</div>
            </div>
            <div class="list-buttons">
                <div class="list-delete" (click)="openDelete()">Delete</div>
                <div class="list-save" (click)="save()">Save</div>
                <div class="list-share">Share</div>
            </div>
        </div>
    </div>
</div>
<ng-template #mobile>
    <div class="mobile-two-column-container">
        <div *ngFor="let data of listOfSpeech" class="mobile-container">
            <div class="mobile-list-item" [class.mobile-selected-item]="selectedData?.title === data.title" (click)="toggleSelection(data)">{{ data.title }}</div>
            <div *ngIf="selectedData?.title === data.title" class="right">
                <textarea class="speech" [(ngModel)]="selectedData.speech"></textarea>
                <div class="list-details">
                    <div class="author">{{ selectedData.author }}</div>
                    <div>
                        <ng-container *ngFor="let item of keywordsList">
                            <span *ngIf="item.keywords !== ''" class="list-keywords">{{ item.keywords }}</span>
                        </ng-container>
                    </div>
                    <div class="date">{{ selectedData.date | date: 'MMMM d, y' }}</div>
                </div>
                <div class="list-buttons">
                    <div class="list-delete" (click)="openDelete()">Delete</div>
                    <div class="list-save" (click)="save()">Save</div>
                    <div class="list-share">Share</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- view-list-of-speech.component.html -->
<ng-template #modalContent let-modal>
  <div class="modal-header">
      <button type="button" class="close" (click)="modal?.dismiss('Cross click')">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
      </button>
  </div>
  <div class="modal-body">
      <!-- Your modal content goes here -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"></path></svg>
      <p>Are you sure you want to delete the speech <span>{{ title }}</span>?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn-light" (click)="modal?.close('Close click')">No</button>
      <div (click)="delete()" class="list-delete">Yes</div>
  </div>
</ng-template>
