<div class="two-column-container">
    <div class="list">
      <div *ngFor="let data of listOfSpeech" class="list-item" [class.selected-item]="selectedData?.title === data.title" (click)="selectTitle(data)">
        {{ data.title }}
      </div>
    </div>
    <div *ngIf="selectedData?.title" class="right">
        <div class="speech-column">
            <div class="speech">
                {{ selectedData.speech }}
            </div>
        </div>
        <div class="list-details">
            <div class="author">{{ selectedData.author }}</div>
            <div>
                <ng-container *ngFor="let item of keywordsList">
                    <span *ngIf="item.keywords !== ''" class="list-keywords">{{ item.keywords }}</span>
                </ng-container>
            </div>
            <div class="date">{{ selectedData.date }}</div>
        </div>
        <div class="list-buttons">
            <div class="list-delete">Delete</div>
            <div class="list-save">Save</div>
            <div class="list-share">Share</div>
        </div>
    </div>
</div>