<div *ngIf="!isMobile; else mobile">
  <div class="search">
    <div>
        <label>Search by author</label>
        <input [(ngModel)]="authorQuery" placeholder="Enter author">
    </div>
    <div>
        <label>Search by title</label>
        <input [(ngModel)]="titleQuery" placeholder="Enter title">
    </div>
    <div>
        <label>Search by keywords</label>
        <input [(ngModel)]="keywordsQuery" placeholder="Enter keywords">
    </div>
    <button (click)="search()" class="btn-search">Search</button>  
    <button (click)="resetFilters()" class="btn-clear">Clear</button>
</div>
</div>
<ng-template #mobile>
  <div class="mobile-search">
    <div>
        <label>Search by author</label>
        <input [(ngModel)]="authorQuery" placeholder="Enter author">
    </div>
    <div>
        <label>Search by title</label>
        <input [(ngModel)]="titleQuery" placeholder="Enter title">
    </div>
    <div>
        <label>Search by keywords</label>
        <input [(ngModel)]="keywordsQuery" placeholder="Enter keywords">
    </div>
    <div class="mobile-search-btn">
      <button (click)="search()" class="btn-search">Search</button>  
      <button (click)="resetFilters()" class="btn-clear">Clear</button>
    </div>
</div>
</ng-template>

<div *ngIf="filteredList.length > 0" class="two-column-container">
  <div class="list">
    <div *ngFor="let data of filteredList" class="list-item" [class.selected-item]="selectedData?.title === data.title" (click)="selectTitle(data)">
      {{ data.title }}
    </div>
  </div>
  <div *ngIf="selectedData?.title" class="right">
    <div class="speech-column">
      <textarea class="speech" [(ngModel)]="selectedData!.speech" disabled></textarea>
    </div>
    <div class="list-details">
      <div class="author">{{ selectedData!.author }}</div>
      <div>
        <ng-container *ngFor="let item of keywordsList">
          <span *ngIf="item.keywords !== ''" class="list-keywords">{{ item.keywords }}</span>
        </ng-container>
      </div>
      <div class="date">{{ selectedData!.date | date: 'MMMM d, y' }}</div>
    </div>
  </div>
</div>
